@using Microsoft.AspNetCore.Http

@model IEnumerable<SEIIIAssignment.Models.User>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New </a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (ViewBag.UnApproved != null)
{
    <h3>The users left to be approved.</h3>
    <table class="table">
        <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var itemData in ViewBag.UnApproved)
        {
            <tr>
                <td>
                  @itemData.Name
                </td>
                <td>
                    @itemData.Email
                </td>
                <td>
                   @itemData.Role
                </td>

                <td>
                    <a asp-action="Approve" asp-route-id="@itemData.UserId">Approve</a> |
                    <a asp-action="Details" asp-route-id="@itemData.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@itemData.UserId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}